{% extends "base.html" %}

{% block title %}Halaman Utama All-Ahraga{% endblock title %}

{% block content %}
<div style="text-align: center; margin-top: 50px;">
    <h1>Selamat Datang di All-Ahraga!</h1>
    
    {% if user.is_authenticated %}
        <p style="font-size: 1.2em; color: green;">
            Anda berhasil login sebagai <strong>{{ user.username }}</strong>.
        </p>
        
        {% if user.profile.is_customer %}
            <div style="margin-top: 30px; text-align: left;">
                <h3 style="border-bottom: 2px solid #ccc; padding-bottom: 10px; text-align: center;">Daftar Lapangan</h3>
                
                {% if venues %}
                    <div style="display:flex;flex-wrap:wrap;gap:18px;justify-content:center;">
                        {% for venue in venues %}
                            {% include 'main/venue_card.html' with venue=venue %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Tidak ada lapangan yang tersedia saat ini.</p>
                {% endif %}
            </div>

        {% elif user.profile.is_venue_owner %}
            <p>Anda login sebagai Venue Owner. <a href="#">Tambahkan venue baru Anda</a>.</p>
        
        {% elif user.profile.is_coach %}
            <p>Anda login sebagai Coach. <a href="#">Atur jadwal dan rate Anda</a>.</p>

        {% elif user.is_staff %}
             <p>Anda login sebagai Admin. <a href="/admin">Masuk ke Admin Panel</a>.</p>
       
        {% endif %}
    {% endif %}

</div>
{% endblock content %}